cc65/
example.o
example.map.txt
example.labels.txt
example.nes.ram.nl
example.nes.0.nl
example.nes.1.nl
example.nes.dbg
example.nes.deb
*.command
NES-ca65-example-NES1/background.chr
NES-ca65-example-NES1/compile_example.bat
NES-ca65-example-NES1/example.cfg
NES-ca65-example-NES1/example.asm
NES-ca65-example-NES1/example.txt
NES-ca65-example-NES1/example_fceux_symbols.py
NES-ca65-example-NES1/readme.md
NES-ca65-example-NES1/sprite.chr
*.nes
*.txt
*.dbg
*.o
*.py
